<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Techcareer.net</h1>
        <p class="col-md-8 fs-8">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti nihil laborum ipsum itaque quibusdam, illo aspernatur, minima reiciendis ipsam, iste ex. Eos adipisci similique doloribus earum ut tempore dolorum impedit.</p>
        <botton class="btn btn-success btn-lg">Bootcampler</botton>
    </div>
</div>